[submodule "Bell/vendor/spdlog"]
	path = Bell/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Bell/vendor/glfw"]
	path = Bell/vendor/glfw
	url = https://github.com/SimpleManGames/glfw
[submodule "Bell/vendor/imgui"]
	path = Bell/vendor/imgui
	url = https://github.com/SimpleManGames/imgui
